body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 100px;
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

    #top label {
        margin-right: 10px;
    }

    #top input[type="email"] {
        width: 200px;
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

#btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #5133bc;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ff0000;
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

    #btn2 a {
        display: inline-block;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #7b417c;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }

        #btn2 a:hover {
            background-color: #0069d9;
        }
